##### 1.IMPORT LIBRARY

In [8]:
import pandas as pd 
import numpy as np
from datetime import datetime
import os

##### 2.READING DATASET

In [9]:
#df=pd.read_csv("2024-06-21.csv")

filename='2024-06-21.csv'

# Extract the text before the extension
base_name = os.path.splitext(os.path.basename(filename))[0]

# Read the CSV file into a DataFrame
df = pd.read_csv(filename)

# Print the extracted name
print(base_name)

2024-06-21

In [10]:
df

,SKU,Marketplace,Seller_name,region,adv_price,Screenshot,live_link
0,6X3W4PA,Flipkart,H.R.&COMPANY INDIA-LIMESHOT™ (100% Satisfaction ),USA,460.440,NaN,NaN
1,81H48PA,Flipkart,SHOP 24/7,USA,940.200,NaN,NaN
2,676M7A,eBay,OPSUZY,UAE,651.640,NaN,NaN
3,CF361A,eBay,Abbey Edge,UK,202.382,NaN,NaN
4,P2V25A,Snapdeal,ASTraders,UAE,368.280,NaN,NaN
...,...,...,...,...,...,...,...
9855,2W953PA,Amazon,ELEMENT ENTERPRISES,UK,429.392,NaN,NaN
9856,8F6C4PA,Amazon,Vidya Books A'bad,UAE,7762.480,NaN,NaN
9857,9U2C4PA,Amazon,HIRVAX,IND,152050.000,NaN,NaN
9858,8Q3X5PA,eBay,SAM ENTERPRISE COLLECTION,USA,378.000,NaN,NaN
9859,8L147PA,Amazon,ASTITA,CAN,4832.320,NaN,NaN

In [3]:
webdata=pd.read_csv("webscraperDataset.csv")

In [4]:
webdata.head(2)

,Seller_name,sku,Region,Product Title,Advertised_price,Amazon/Flipkart,Screenshot,Live_link,Date & Time
0,Clicktech Retail Private Ltd,Nan,IND,"HP Laptop 15s, AMD Ryzen 5 5500U, 15.6-inch (3...",44990,www.amazon.in,<PIL.Image.Image image mode=RGBA size=400x400 ...,https://www.amazon.in/HP-15-6-inches-Micro-Edg...,12:35:23
1,Clicktech Retail Private Ltd,Nan,IND,"HP Laptop 15s, AMD Ryzen 5 5500U, 15.6-inch (3...",44990,www.amazon.in,<PIL.Image.Image image mode=RGBA size=400x400 ...,https://www.amazon.in/HP-15-6-inches-Micro-Edg...,2024-09-11 12:36:00

In [11]:
df['Date']=base_name

In [12]:

df.head(2)

,SKU,Marketplace,Seller_name,region,adv_price,Screenshot,live_link,Date
0,6X3W4PA,Flipkart,H.R.&COMPANY INDIA-LIMESHOT™ (100% Satisfaction ),USA,460.44,NaN,NaN,2024-06-21
1,81H48PA,Flipkart,SHOP 24/7,USA,940.20,NaN,NaN,2024-06-21

##### 5.FORMATING DATE COLUMN

In [13]:
df['Date']=df['Date'].apply(lambda x:datetime.strptime(x, "%Y-%m-%d"))

In [14]:
df.drop(['Screenshot','live_link'],axis=1,inplace=True)

In [15]:
df  # FINAL DATAFRAME

,SKU,Marketplace,Seller_name,region,adv_price,Date
0,6X3W4PA,Flipkart,H.R.&COMPANY INDIA-LIMESHOT™ (100% Satisfaction ),USA,460.440,2024-06-21
1,81H48PA,Flipkart,SHOP 24/7,USA,940.200,2024-06-21
2,676M7A,eBay,OPSUZY,UAE,651.640,2024-06-21
3,CF361A,eBay,Abbey Edge,UK,202.382,2024-06-21
4,P2V25A,Snapdeal,ASTraders,UAE,368.280,2024-06-21
...,...,...,...,...,...,...
9855,2W953PA,Amazon,ELEMENT ENTERPRISES,UK,429.392,2024-06-21
9856,8F6C4PA,Amazon,Vidya Books A'bad,UAE,7762.480,2024-06-21
9857,9U2C4PA,Amazon,HIRVAX,IND,152050.000,2024-06-21
9858,8Q3X5PA,eBay,SAM ENTERPRISE COLLECTION,USA,378.000,2024-06-21
9859,8L147PA,Amazon,ASTITA,CAN,4832.320,2024-06-21

##### 6.CLEANING OBJECT  DATA IN SELLER NAME

In [16]:
df['Seller_name']=df['Seller_name'].str.strip()
 
df['Seller_name']=df['Seller_name'].replace({'Game Tronics [Email Delivery Only] ⭐ ⭐ ⭐ ⭐ ⭐':'Game Tronics',
                           'DFIX ⭐⭐⭐⭐⭐':'DFIX',
                          'HSR Retail®️':'HSR Retail'})
df['Seller_name']=df['Seller_name'].str.replace(r'\(.*?\)', '', regex=True).str.strip()

##### 7.EDA

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9860 entries, 0 to 9859
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SKU          9860 non-null   object
 1   Marketplace  9860 non-null   object
 2   Seller_name  9860 non-null   object
 3   region       9860 non-null   object
 4   adv_price    9860 non-null   float64
 5   Date         9860 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 462.3+ KB

In [18]:
df.isnull().sum()

SKU            0
Marketplace    0
Seller_name    0
region         0
adv_price      0
Date           0
dtype: int64

##### 8.IMPORTING LPP TABLE

In [19]:
LPP=pd.read_csv("lpptable.csv")
LPP.rename(columns={'sku': 'SKU'}, inplace=True)#rename the column
LPP

                     PL      SKU   Brand     Item  Sub     MAP         Lpp
0      DELL0X_PC_Laptop  0X749QB  DELL0X   Laptop   PC  106684   98362.648
1     DELL75_PC_Monitor  75X62BB  DELL75  Monitor   PC   35611   33616.784
2        DELLDF_SUP_TON   DF627B  DELLDF      TON  SUP   29914   29225.978
3            HP4Z_PH_LJ   4ZB96A    HP4Z       LJ   PH   39258   36706.230
4      DELL0R_PC_Laptop  0R0N0QB  DELL0R   Laptop   PC  139670  128775.740
...                 ...      ...     ...      ...  ...     ...         ...
1601     DELL4K_SUP_INK  4KB93BB  DELL4K      INK  SUP    3565    3440.225
1602     DELLX2_SUP_TON   X2231B  DELLX2      TON  SUP    6716    6561.532
1603       HPB3_SUP_INK   B3P21A    HPB3      INK  SUP    6868    6421.580
1604  DELL78_PC_Desktop  78X20QB  DELL78  Desktop   PC   47937   46834.449
1605       HPCF_SUP_TON   CF364A    HPCF      TON  SUP   28243   25672.887

[1606 rows x 7 columns]

##### 9.REMOVE DUPLICATE AND MERGE TABLES

In [21]:
#duplicates =LPP[LPP.duplicated(subset=['SKU'], keep=False)]
#print(duplicates)
df2 = LPP.drop_duplicates(subset=['SKU']) #deop duplicates
df3= pd.merge(df, df2, on='SKU', how='left')#merge tables

In [116]:
#df3=df3.drop(columns=['PL','Brand','Item','Sub','MAP'])	#select required columns

In [22]:
df3

,SKU,Marketplace,Seller_name,region,adv_price,Date,PL,Brand,Item,Sub,MAP,Lpp
0,6X3W4PA,Flipkart,H.R.&COMPANY INDIA-LIMESHOT™,USA,460.440,2024-06-21,HP6X_PC_Desktop,HP6X,Desktop,PC,33369,30332.421
1,81H48PA,Flipkart,SHOP 24/7,USA,940.200,2024-06-21,HP81_PC_Laptop,HP81,Laptop,PC,73919,71405.754
2,676M7A,eBay,OPSUZY,UAE,651.640,2024-06-21,HP67_SUP_INK,HP67,INK,SUP,13461,12586.035
3,CF361A,eBay,Abbey Edge,UK,202.382,2024-06-21,HPCF_SUP_TON,HPCF,TON,SUP,19396,17630.964
4,P2V25A,Snapdeal,ASTraders,UAE,368.280,2024-06-21,HPP2_SUP_INK,HPP2,INK,SUP,7752,7248.120
...,...,...,...,...,...,...,...,...,...,...,...,...
9855,2W953PA,Amazon,ELEMENT ENTERPRISES,UK,429.392,2024-06-21,HP2W_PC_Desktop,HP2W,Desktop,PC,41157,37411.713
9856,8F6C4PA,Amazon,Vidya Books A'bad,UAE,7762.480,2024-06-21,HP8F_PC_Laptop,HP8F,Laptop,PC,160379,154926.114
9857,9U2C4PA,Amazon,HIRVAX,IND,152050.000,2024-06-21,HP9U_PC_Laptop,HP9U,Laptop,PC,142099,137267.634
9858,8Q3X5PA,eBay,SAM ENTERPRISE COLLECTION,USA,378.000,2024-06-21,HP8Q_PC_Laptop,HP8Q,Laptop,PC,46324,44748.984
9859,8L147PA,Amazon,ASTITA,CAN,4832.320,2024-06-21,HP8L_PC_Laptop,HP8L,Laptop,PC,272087,262836.042

In [23]:
df3['region'].unique()

array(['USA', 'UAE', 'UK', 'IND', 'CAN'], dtype=object)

##### 10.CURRENCY CONVERSION

In [24]:
def change(row, region):
    if region == 'USA':
        return round(row * 0.012, 2)
    elif region == 'UAE':
        return round(row * 0.043, 2)
    elif region == 'UK':
        return round(row * 0.0092, 2)
    elif region == 'CAN':
        return round(row * 0.017, 2)
    else:
        return row  


df3['Lpp'] = df3.apply(lambda row: change(row['Lpp'], row['region']), axis=1)

In [25]:
df3

,SKU,Marketplace,Seller_name,region,adv_price,Date,PL,Brand,Item,Sub,MAP,Lpp
0,6X3W4PA,Flipkart,H.R.&COMPANY INDIA-LIMESHOT™,USA,460.440,2024-06-21,HP6X_PC_Desktop,HP6X,Desktop,PC,33369,363.990
1,81H48PA,Flipkart,SHOP 24/7,USA,940.200,2024-06-21,HP81_PC_Laptop,HP81,Laptop,PC,73919,856.870
2,676M7A,eBay,OPSUZY,UAE,651.640,2024-06-21,HP67_SUP_INK,HP67,INK,SUP,13461,541.200
3,CF361A,eBay,Abbey Edge,UK,202.382,2024-06-21,HPCF_SUP_TON,HPCF,TON,SUP,19396,162.200
4,P2V25A,Snapdeal,ASTraders,UAE,368.280,2024-06-21,HPP2_SUP_INK,HPP2,INK,SUP,7752,311.670
...,...,...,...,...,...,...,...,...,...,...,...,...
9855,2W953PA,Amazon,ELEMENT ENTERPRISES,UK,429.392,2024-06-21,HP2W_PC_Desktop,HP2W,Desktop,PC,41157,344.190
9856,8F6C4PA,Amazon,Vidya Books A'bad,UAE,7762.480,2024-06-21,HP8F_PC_Laptop,HP8F,Laptop,PC,160379,6661.820
9857,9U2C4PA,Amazon,HIRVAX,IND,152050.000,2024-06-21,HP9U_PC_Laptop,HP9U,Laptop,PC,142099,137267.634
9858,8Q3X5PA,eBay,SAM ENTERPRISE COLLECTION,USA,378.000,2024-06-21,HP8Q_PC_Laptop,HP8Q,Laptop,PC,46324,536.990
9859,8L147PA,Amazon,ASTITA,CAN,4832.320,2024-06-21,HP8L_PC_Laptop,HP8L,Laptop,PC,272087,4468.210

In [ ]:
################################################################################################

##### 11.OUTPUT

In [26]:
from datetime import datetime


x = input("Enter a date (YYYY-MM-DD): ") #INPUT
x = datetime.strptime(x, "%Y-%m-%d")


df4=df3[(df3['adv_price'] < df3['Lpp']) & (df3['Date'] == x)]


def change(row, region):
    if region == 'USA':
        return str(row)+ ' USD'
    elif region == 'UAE':
        return str(row)+ ' AED'
    elif region == 'UK':
        return str(row)+ ' GBP'
    elif region == 'CAN':
        return str(row)+ ' CAD'
    else:
        return str(row)+ ' INR'  


df4['Lpp']=df4.apply(lambda row: change(row['Lpp'], row['region']), axis=1)

df4

Enter a date (YYYY-MM-DD):  2024-06-21

C:\Users\samsu\AppData\Local\Temp\ipykernel_7188\2087989785.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Lpp']=df4.apply(lambda row: change(row['Lpp'], row['region']), axis=1)

,SKU,Marketplace,Seller_name,region,adv_price,Date,PL,Brand,Item,Sub,MAP,Lpp
6,64X69AA,Amazon,E Basket-,UK,74.448,2024-06-21,HP64_PC_Monitor,HP64,Monitor,PC,13200,119.98 GBP
46,9D3M7PA,Flipkart,Mintree Premier Lifestyle,CAN,452.800,2024-06-21,HP9D_PC_Laptop,HP9D,Laptop,PC,42239,693.65 CAD
64,54R50B,Amazon,Springtek Mattress,UK,37.694,2024-06-21,HP54_PH_IJ,HP54,IJ,PH,6369,57.89 GBP
69,CZ134A,Snapdeal,Mosaic Wellness Private Ltd.,USA,47.328,2024-06-21,HPCZ_SUP_INK,HPCZ,INK,SUP,4384,49.19 USD
81,L0R94AA,eBay,VRP Telematics,UAE,230.560,2024-06-21,HPL0_SUP_UNK,HPL0,UNK,SUP,8060,324.05 AED
...,...,...,...,...,...,...,...,...,...,...,...,...
9812,CC388A,Amazon,Elyssion Designs,IND,5089.500,2024-06-21,HPCC_SUP_TON,HPCC,TON,SUP,5659,5144.031 INR
9825,B3P21A,Amazon,SVISH ON THE GO,UAE,187.440,2024-06-21,HPB3_SUP_INK,HPB3,INK,SUP,6868,276.13 AED
9833,CF359A,eBay,Darshita Electronics,IND,23084.000,2024-06-21,HPCF_SUP_TON,HPCF,TON,SUP,26099,23723.991 INR
9852,9U867PA,Snapdeal,VONZEE®,CAN,2627.632,2024-06-21,HP9U_PC_Laptop,HP9U,Laptop,PC,174239,2861.35 CAD
9858,8Q3X5PA,eBay,SAM ENTERPRISE COLLECTION,USA,378.000,2024-06-21,HP8Q_PC_Laptop,HP8Q,Laptop,PC,46324,536.99 USD